<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading" class="my-profile-wrapper">
    <section class="my-profile">
        <h1 class="my-profile-greeting">hello, {{currentUser?.username}}</h1>
        <p class="my-profile-user-id">Your personal identification number is <br><span>{{currentUser?.objectId}}</span> </p>
        <section class="my-profile-content">
            <div class="my-profile-item">
                <h2>name</h2>
                <p>{{currentUser?.fullName}}</p>
            </div>
            <div class="my-profile-item">
                <h2>email</h2>
                <p>{{currentUser?.email}}</p>
            </div>
            <div class="my-profile-item">
                <h2>phone</h2>
                <p>{{currentUser?.phone}}</p>
            </div>
            <div class="my-profile-item">
                <h2>delivery address</h2>
                <p>{{currentUser?.address}}</p>
            </div>
        </section>
        <section class="buttons-wrapper">
            <ul class="my-profile-buttons-list">
                <li>
                    <a class="my-profile-button" routerLink="/auth/my-orders">my orders</a>
                </li>
                <li>
                    <a class="my-profile-button" routerLink="/profile-update">profile update</a>
                </li>
                <li>
                    <button (click)="deleteHandler(currentUser?.objectId ,currentUser?.sessionToken)" class="my-profile-button delete-button">Delete</button>
                </li>
            </ul>
        </section>
    </section>
</div>