<div class="my-profile-wrapper">
    <section class="my-profile">
        <h1 class="my-profile-greeting">hello, username</h1>
        <p class="my-profile-user-id">client number: <br><span>8Z75rF9g</span></p>
        <section class="my-profile-content">
            <div class="my-profile-item">
                <h2>name</h2>
                <p>jon snow</p>
            </div>
            <div class="my-profile-item">
                <h2>email</h2>
                <p>jonsnow@gmail.com</p>
            </div>
            <div class="my-profile-item">
                <h2>phone</h2>
                <p>877 111 2222</p>
            </div>
            <div class="my-profile-item">
                <h2>delivery address</h2>
                <p>1200 street str ,Bensenville, il, 00000, USA</p>
            </div>
        </section>
        <section>
            <ul class="my-profile-buttons-list">
                <li>
                    <a class="my-profile-button" href="/auth/my-orders">my orders</a>
                </li>
                <li>
                    <a class="my-profile-button" href="auth/profile-update">profile update</a>
                </li>
            </ul>
        </section>
    </section>
</div>