<section class="products-wrapper">
    <section class="products">
        <h1 class="products-title">our products</h1>
        <div class="products-section-wrapper">
            <article class="products-section snowboards">
                <div class="products-section-img-wrapper">
                    <img src="../../../assets/board.jpg" alt="">
                </div>
                <div class="products-tilte-btn-wrapper">
                    <h3 class="products-section-title">snowboards</h3>
                    <div class="button-wrapper">
                        <a class="products-section-button" routerLink="snowboards">see all</a>
                    </div>
                </div>
            </article>

            <article class="products-section boots">
                <div class="products-section-img-wrapper">
                    <img src="../../../assets/snow-boots.jpg" alt="">
                </div>
                <div class="products-tilte-btn-wrapper">
                    <h3 class="products-section-title">boots</h3>
                    <div class="button-wrapper">
                        <a class="products-section-button" routerLink="#">see all</a>
                    </div>
                </div>
            </article>

            <article class="products-section bindings">
                <div class="products-section-img-wrapper">
                    <img src="../../../assets/bindings.jpg" alt="">
                </div>
                <div class="products-tilte-btn-wrapper">
                    <h3 class="products-section-title">bindings</h3>
                    <div class="button-wrapper">
                        <a class="products-section-button" routerLink="#">see all</a>
                    </div>
                </div>
            </article>

            <article class="products-section clothing">
                <div class="products-section-img-wrapper">
                    <img src="../../../assets/clothing.webp" alt="">
                </div>
                <div class="products-tilte-btn-wrapper">
                    <h3 class="products-section-title">clothing</h3>
                    <div class="button-wrapper">
                        <a class="products-section-button" routerLink="#">see all</a>
                    </div>
                </div>
            </article>

            <article class="products-section accessories">
                <div class="products-section-img-wrapper">
                    <img src="../../../assets/accessories.jpg" alt="">
                </div>
                <div class="products-tilte-btn-wrapper">
                    <h3 class="products-section-title">accessories</h3>
                    <div class="button-wrapper">
                        <a class="products-section-button" routerLink="#">see all</a>
                    </div>
                </div>
            </article>
        </div>

    </section>
</section>