.products-wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.products {
    max-width: 1221px;
    background-color: aliceblue;
    margin: 25px auto 40px auto;
    border-radius: 25px;
    box-shadow: 3px 3px 17px 3px #837e7e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-title {
    font-size: 3.1rem;
    color: white;
    -webkit-text-stroke: 3px #000;
    text-align: center;
    text-transform: capitalize;
}

.boots {
    grid-area: boots;
}

.bindings {
    grid-area: bindings;
}

.snowboards {
    grid-area: snowboards;
}

.accessories {
    grid-area: accessories;
}

.clothing {
    grid-area: clothing;
}

.products-section-wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "boots boots boots bindings bindings"
        "snowboards snowboards snowboards snowboards snowboards"
        "accessories accessories clothing clothing clothing";
    padding: 5px 15px;
}


.products-section {
    position: relative;
    max-height: 480px;
    margin: 20px;
}

.products-section-img-wrapper {
    width: 100%;
    height: 100%;
}

.products-section-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 3px 3px 17px 3px #837e7e;
}

.products-tilte-btn-wrapper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-section-title {
    font-size: 2.5rem;
    color: #6cc8bf;
    -webkit-text-stroke: 2px #5d10eb;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}

.products-section-button {
    display: block;
    width: 16rem;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    background: #6cc8bf;
    border: 2px solid #5d10eb;
    font-weight: 800;
    color: #5d10eb;
    padding: 5px 10px;
    border-radius: 25px;
    box-shadow: 3px 3px 17px 3px #837e7e;
}

.products-section-button:hover {
    cursor: pointer;
    transition: transform .5s ease;
    transform: scale(1.15);
    background: #5d10eb;
    color: #64dfd3;
}

@media all and (max-width:1200px) {
    .products {
        max-width: 90%;
    }

    .products-section {
        width: 95%;
        max-height: 100%;
    }

    .products-section-wrapper {
        grid-template-areas:
            "snowboards snowboards snowboards snowboards snowboards"
            "clothing clothing clothing accessories accessories"
            "clothing clothing clothing accessories accessories"
            "bindings bindings boots boots boots"
            "bindings bindings boots boots boots";
        padding: 5px 15px;
        justify-items: center;
        align-items: stretch;
        justify-content: center;
        align-content: center;
    }
}

@media all and (max-width:768px) {
    .products-section-wrapper {
        grid-template-areas:
            "snowboards snowboards snowboards snowboards snowboards"
            "clothing clothing clothing clothing clothing"
            "boots boots boots boots boots"
            "bindings bindings bindings bindings bindings"
            "accessories accessories accessories accessories accessories";
    }

    .products-section {
        width: 95%;
        height: 400px;
        align-items: center;
    }
}

@media all and (max-width:480px) {
    .products-section {
        height: 300px;
    }

    .products-section-button {
        width: 10rem;
    }
}