<section class="products-wrapper">
    <section class="products">
        <h1 class="products-title">our products</h1>
        <article class="products-section">
            <div class="products-section-img-wrapper">
                <img src="../../../assets/board.jpg" alt="">
            </div>
            <div class="products-tilte-btn-wrapper">
                <h3 class="products-section-title">snowboards</h3>
                <div class="button-wrapper">
                    <a class="products-section-button" href="#">see all</a>
                </div>
            </div>
        </article>

        <article class="products-section">
            <div class="products-section-img-wrapper">
                <img src="../../../assets/snow-boots.jpg" alt="">
            </div>
            <div class="products-tilte-btn-wrapper">
                <h3 class="products-section-title">Boots</h3>
                <div class="button-wrapper">
                    <a class="products-section-button" href="#">see all</a>
                </div>
            </div>
        </article>

        <article class="products-section">
            <div class="products-section-img-wrapper">
                <img src="../../../assets/bindings.jpg" alt="">
            </div>
            <div class="products-tilte-btn-wrapper">
                <h3 class="products-section-title">bindings</h3>
                <div class="button-wrapper">
                    <a class="products-section-button" href="#">see all</a>
                </div>
            </div>
        </article>

        <article class="products-section">
            <div class="products-section-img-wrapper">
                <img src="../../../assets/clothing.webp" alt="">
            </div>
            <div class="products-tilte-btn-wrapper">
                <h3 class="products-section-title">clothing</h3>
                <div class="button-wrapper">
                    <a class="products-section-button" href="#">see all</a>
                </div>
            </div>
        </article>

        <article class="products-section">
            <div class="products-section-img-wrapper">
                <img src="../../../assets/accessories.jpg" alt="">
            </div>
            <div class="products-tilte-btn-wrapper">
                <h3 class="products-section-title">accessories</h3>
                <div class="button-wrapper">
                    <a class="products-section-button" href="#">see all</a>
                </div>
            </div>
        </article>

    </section>
</section>