<app-loader *ngIf="isLoading"></app-loader>

<section *ngIf="!isLoading" class="section">
    <h1 class="section-title">Bindings</h1>
    <div class="products-container">

        <article class="product-card" *ngFor="let binding of bindings">
            <div class="product-card-inner">
                <div class="product-card-image">
                    <img src={{binding.image}} alt="binding">
                </div>
                <div class="product-card-content">
                    <div class="product-info">
                        <h3>brand:</h3>
                        <p>{{binding.brand}}</p>
                    </div>
                    <div class="product-info">
                        <h3>model:</h3>
                        <p>{{binding.model}}</p>
                    </div>
                    <div class="product-info">
                        <h3>price:</h3>
                        <p>${{binding.price}}</p>
                    </div>
                    <div class="buttons">
                        <a routerLink={{binding.objectId}}>details</a>
                        <a *ngIf="isLoggedIn" (click)="cartAddHandler(binding.objectId,binding.image,binding.brand,binding.model,binding.price)">add to cart</a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>