<section class="login-wrapper">
    <section class="login">
        <h1 class="login-title">Login</h1>

        <form #loginForm="ngForm" (ngSubmit)="loginSubmitHandler(username,password,loginForm)" class="login-form">
            <label for="usename">Username</label>
            <input #usernameInput="ngModel" id="usename"  type="text" placeholder="JonSnow" [(ngModel)]="username"  name="usename" required>  <!--  -->
            <ng-container *ngIf="usernameInput.touched">
                <p class="error" *ngIf="usernameInput.errors?.['required']">Username required!</p>
            </ng-container>
            <label for="password">Password</label>
            <input #passwordInput="ngModel" id="password" type="password" placeholder="* * * * * * *"  [(ngModel)]="password" name="password" minlength="5" required> <!--  -->
            <ng-container *ngIf="passwordInput.touched">
                <p class="error" *ngIf="passwordInput.errors?.['required']">Password required!</p>
            </ng-container>
            <input type="submit" value="Login" class="login-submit">
        </form>
        

        <p class="message">
            If you don't have an account Sign Up <a routerLink="/auth/signup">here!</a>
        </p>
        <img class="logo" src="../../../assets/favicon.png" alt="logo">
    </section>
</section>
