<section class="login-wrapper">
    <section class="login">
        <h1 class="login-title">Login</h1>
        <form action="" class="login-form">
            <label for="usename">Username</label>
            <input id="usename" name="usename" type="text" placeholder="JonSnow" required>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="* * * * * * *" required>
            <input type="submit" value="Login" class="login-submit">
        </form>
        <p class="message">
            If you don't have an account Sign Up <a href="/auth/signup">here!</a>
        </p>
        <img class="logo" src="../../../assets/favicon.png" alt="logo">
    </section>
</section>
