<section class="login-wrapper">
    <section class="login">
        <h1 class="login-title">Login</h1>
        <form action="" class="login-form">
            <label for="">Username</label>
            <input type="text" placeholder="JonSnow">
            <label for="">Password</label>
            <input type="password" placeholder="* * * * * * *">
            <input type="submit" value="Login" class="login-submit">
        </form>
        <p class="message">
            If you don't have an account Sign Up <a href="/auth/signup">here!</a>
        </p>
        <img class="logo" src="../../../assets/favicon.png" alt="logo">
    </section>
</section>
