<section class="section">
    <h1 class="section-title">Snowboards</h1>
    <div class="products-container">


        <article class="product-card" *ngFor="let snowboard of snowboards">
            <div class="product-card-inner">
                <div class="product-card-image">
                    <img src={{snowboard.image}} alt="snowboard">
                </div>
                <div class="product-card-content">
                    <div class="product-info">
                        <h3>brand:</h3>
                        <p>{{snowboard.brand}}</p>
                    </div>
                    <div class="product-info">
                        <h3>model:</h3>
                        <p>{{snowboard.model}}</p>
                    </div>
                    <div class="product-info">
                        <h3>price:</h3>
                        <p>${{snowboard.price}}</p>
                    </div>
                    <div class="buttons">
                        <a routerLink={{snowboard.objectId}}>details</a>
                        <a *ngIf="isLoggedIn" (click)="cartAddHandler(snowboard.objectId,snowboard.image,snowboard.brand,snowboard.model,snowboard.price)">add to cart</a>
                    </div>
                </div>
            </div>
        </article>

    </div>
</section>