<app-loader *ngIf="isLoading"></app-loader>

<section *ngIf="!isLoading" class="section">
    <h1 class="section-title">Boots</h1>
    <div class="products-container">

        <article class="product-card" *ngFor="let shoe of boots">
            <div class="product-card-inner">
                <div class="product-card-image">
                    <img src={{shoe.image}} alt="shoe">
                </div>
                <div class="product-card-content">
                    <div class="product-info">
                        <h3>brand:</h3>
                        <p>{{shoe.brand}}</p>
                    </div>
                    <div class="product-info">
                        <h3>model:</h3>
                        <p>{{shoe.model}}</p>
                    </div>
                    <div class="product-info">
                        <h3>price:</h3>
                        <p>${{shoe.price}}</p>
                    </div>
                    <div class="buttons">
                        <a routerLink={{shoe.objectId}}>details</a>
                        <a *ngIf="isLoggedIn"(click)="cartAddHandler(shoe.objectId,shoe.image,shoe.brand,shoe.model,shoe.price)">add to cart</a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>