<footer class="footer">
    <section class="footer-services-wrapper">
        <h5 class="footer-title">
       Check here:
        </h5>
        <ul class="footer-list footer-services-list">
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/about">About Us</a>
            </li>
            <li>
                <a routerLink="/contacts">Contacts</a>
            </li>
            <li>
                <a routerLink="/products">Products</a>
            </li>
        </ul>
    </section>

    <section class="footer-pay-section">
        <h5 class="footer-title">Payment methods</h5>
        <ul class="footer-list footer-pay-list">
            <li>
                <a href="#"><img src="../../../assets/icons/mastercard.svg" alt="mastercard"></a>
            </li>
            <li>
                <a href="#"><img src="../../../assets/icons/visa.svg" alt="visa"></a>
            </li>
            <li>
                <a href="#"><img src="../../../assets/icons/Verified-by-visa-logo.svg" alt="visa"></a>
            </li>
            <li>
                <a href="#"><img src="../../../assets/icons/paypal.svg" alt="paypal"></a>
            </li>
        </ul>
    </section>

    <section class="footer-delivery-section">
        <h5 class="footer-title">Delivery:</h5>
        <ul class="footer-list footer-delivery-list">
            <li>
                <a href="#"><img src="../../../assets/icons/DHL_Logo.svg" alt="DHL"></a>
            </li>
            <li>
                <a href="#"><img src="../../../assets/icons/speedy.svg" alt="Speedy"></a>
            </li>
        </ul>
    </section>
    <section>
        <ul class="footer-list footer-social-media-list">
            <li>
                <a href="#"><img src="../../../assets/icons/facebook-logo.svg" alt="facebook"></a>
            </li>
            <li>
                <a href="#"><img src="../../../assets/icons/instagram.svg" alt="instagram"></a>
            </li>
            <li>
                <a href="#"><img src="../../../assets/icons/google-plus.svg" alt="google-plus"></a>
            </li>
        </ul>
    </section>
    <p class="footer-copyright">Copyright &copy;2023. All rights reserved.</p>