.sign-up-wrapper {
    width: 100%;
    min-height: 100vh;
}

.sign-up {
    position: relative;
    width: 1221px;
    background-color: aliceblue;
    padding: 10px 25px;
    margin: 25px auto 40px auto;
    border-radius: 25px;
    box-shadow: 3px 3px 17px 3px #837e7e;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-title {
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 3px #000;
    text-align: center;
    text-transform: capitalize;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-form input {
    width: 300px;
    height: 30px;
    padding: 3px 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.sign-up-form input::placeholder {
    font-style: italic;
}

.sign-up-form label {
    margin: 7px;
    font-size: 20px;
    font-weight: 600;
}

.sign-up-submit{
    width: 150px !important;
    background: #64dfd3; 
    font-size: 17px;
    font-weight: 600;
}

.sign-up-submit:hover {
    cursor: pointer;
    transition: transform .5s ease;
    transform: scale(1.15);
    background: #000;
    color: #64dfd3;
}

.message {
    font-style: italic;
    font-size: 15px;
}

.message a {
    color: blue;
    font-weight: 600;
    font-size: 16px;
}

.logo {
    position: absolute;
    width: 80px;
    bottom: 20px;
    right: 20px;
}

.logo {
    /* overflow: hidden; */
    transition-duration: 2s;
    transition-property: transform;
}
.logo:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}