.cart-wrapper {
    width: 100%;
    min-height: 100vh;
}

.cart {
    max-width: 1221px;
    background-color: aliceblue;
    padding: 10px 25px;
    margin: 25px auto 40px auto;
    border-radius: 25px;
    box-shadow: 3px 3px 17px 3px #837e7e;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-title {
    font-size: 3.1rem;
    color: white;
    -webkit-text-stroke: 3px #000;
    text-align: center;
    text-transform: capitalize;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.item {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 3px 3px 17px 3px #837e7e;
    padding: 1rem;
}

.item-img-container {
    width: 40%;
    height: 330px;
}

.item-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.item-text-container {
    font-style: italic;
    width: 40%;
}

.item-text-container h3,
.item-text-container h4,
.item-text-container p {
    font-weight: 500;
    border-bottom: 1px solid #837e7e;
    display: flex;
    justify-content: space-between;
}

.remove-button {
    color: red;
    border: none;
    background: none;
    align-self: start;
    margin: 10px;
}

.remove-button i {
    font-size: 1.4rem;
    cursor: pointer;
}

.total-section {
    margin: 1rem auto;
    text-align: center;
}

.total-section p {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(31, 231, 31);
    -webkit-text-stroke: 1px #000;
}

.total-section button {
    font-size: 1.1rem;
    padding: 10px 25px;
    background: rgb(31, 231, 31);
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 3px 3px 17px 3px #837e7e;
}

.total-section button:hover {
    cursor: pointer;
    transition: transform .5s ease;
    transform: scale(1.15);
    background: #5d10eb;
    color: #64dfd3;
}

.empty-cart {
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
}

.empty-cart-title {
    font-size: 2rem;
    -webkit-text-stroke: 1px #000;
    color: #64dfd3;
}

.empty-cart-text {
    font-size: 1.3rem;
}

.empty-cart-text a:hover {
    color: rgb(54, 255, 47);
}

@media all and (max-width:1300px) {
    .cart {
        max-width: 90%;
    }
}

@media all and (max-width:1200px) {
    .item-wrapper {
        width: 90%;
    }
}

@media all and (max-width:1024px) {
    .item-img-container {
        width: 65%;
    }

    .item-text-container {
        width: 30%;
    }
}

@media all and (max-width:768px) {
    .item {
        flex-direction: column;
    }

    .item-img-container,
    .item-text-container{
        width: 90%;
    }

    .item-img-container{
        height: 450px;
    }

    .remove-button {
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
    }
}