<section class="contacts-wrapper">
    <section class="contacts">
        <h1 class="contacts-title">Contacts</h1>
        <article class="contacts-content">
            <div class="contacts-img-wrapper">
                <img src="../../../assets/contacts-img.jpg" alt="">
            </div>
            <div class="contacts-list-wrapper"> 
                <ul class="contacts-list">
                    <li class="contacts-list-item">
                        <i class="fa-solid fa-location-dot"></i>
                        <div class="contacts-list-item-content">
                            <h3>Address:</h3>
                            <p>7777 Old Road Rd., Aspen, CO 81611 </p>
                        </div>
                    </li>
                    <li class="contacts-list-item">
                        <i class="fa-solid fa-phone"></i>
                        <div class="contacts-list-item-content">
                            <h3>Phone:</h3>
                            <p>+720 111 1111</p>
                        </div>
                    </li>
                    <li class="contacts-list-item">
                        <i class="fa-solid fa-envelope"></i>
                        <div class="contacts-list-item-content">
                            <h3>Email:</h3>
                            <p>s.snowboard.co@gmail.com </p>
                        </div>
                    </li>
                </ul>
            </div>
        </article>
        <!-- <article>
            TODO Send message form ?
        </article> -->
    </section>
</section>