<header>
    <section class="navigation">
        <div class="navigation-list-wrapper">
            <a routerLink="/" class="logo-wrapper">
                <img class="logo" src="../../../assets/favicon.png" alt="snowboard">
                <h3 class="user-welcome" *ngIf="user">Welcome {{user.username}}</h3>
            </a>
        </div>

        <div>
            <ul class="navigation-list">
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/about">About Us</a>
                </li>
                <li>
                    <a routerLink="/contacts">Contacts</a>
                </li>
                <li>
                    <a routerLink="/products">Products</a>
                </li>
            </ul>
        </div>

        <div class="navigation-list-wrapper">
            <ng-template #guestTemplate>
                <ul class="navigation-list">
                    <li>
                        <a routerLink="auth/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="auth/signup">SignUp</a>
                    </li>
                </ul>
            </ng-template>

            <ng-template #userTemplate>
                <ul class="navigation-list">
                    <li>
                        <a routerLink="auth/my-profile">My Profile</a>
                    </li>
                    <li>
                        <a routerLink="auth/my-orders">My Orders</a>
                    </li>
                    <li>
                        <a routerLink="auth/logout">Logout</a>
                    </li>
                    <li>
                        <a class="cart-button" routerLink="/auth/my-cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p>{{count}}</p>
                        </a>
                    </li>
                </ul>
            </ng-template>

            <ng-container *ngTemplateOutlet="isLoggedIn ? userTemplate : guestTemplate"> </ng-container>
            

        </div>
    </section>
</header>