<section class="about-us-wrapper">
    <section class="about-us-section">

        <h1 class="about-us-title">About Us</h1>
        <article class="about-us-content article-big-img">
            <div class="about-us-img-wrapper">
                <img src="../../../assets/about-us-img-1.jpg" alt="">
            </div>
            <div class="about-us-text-wrapper">
                <h2 class="about-us-text-title">someone who can help</h2>
                <p class="about-us-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo expedita aperiam ratione repellendus
                    aliquid nam!
                    Ducimus est dolorem ex quisquam nam illo, dolorum et laudantium ut, aspernatur nobis sint veritatis.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo expedita aperiam ratione repellendus
                    aliquid nam!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo expedita aperiam ratione repellendus
                    aliquid nam!
                </p>
            </div>
        </article>

        <article class="about-us-content reversed">
            <div class="about-us-img-wrapper">
                <img src="../../../assets/about-us-img-2.jpg" alt="">
            </div>
            <div class="about-us-text-wrapper">
                <h2 class="about-us-text-title">if you need something <br>we have it </h2>
                <p class="about-us-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo expedita aperiam ratione repellendus
                    aliquid nam!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo expedita aperiam ratione repellendus
                    aliquid nam!
                    Ducimus est dolorem ex quisquam nam illo, dolorum et laudantium ut, aspernatur nobis sint veritatis.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
            </div>
        </article>

        <article class="about-us-content">
            <div class="about-us-img-wrapper">
                <img src="../../../assets/about-us-img-3.jpg" alt="">
            </div>
            <div class="about-us-text-wrapper">
                <h2 class="about-us-text-title">great team work</h2>
                <p class="about-us-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo expedita aperiam ratione repellendus
                    aliquid nam!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo expedita aperiam ratione repellendus
                    aliquid nam!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo expedita aperiam ratione repellendus
                    aliquid nam!
                    Ducimus est dolorem ex quisquam nam illo, dolorum et laudantium ut, aspernatur nobis sint veritatis.
                    
                </p>
            </div>
        </article>

        <article class="about-us-content reversed">
            <div class="about-us-img-wrapper">
                <img src="../../../assets/about-us-img-4.jpg" alt="">
            </div>
            <div class="about-us-text-wrapper">
                <h2 class="about-us-text-title">come and get it <br>or <br>just order it</h2>
                <p class="about-us-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo expedita aperiam ratione repellendus
                    aLorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo expedita aperiam ratione repellendus
                    aliquid nam!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo expedita aperiam ratione repellendus
                    aliquid nam!quisquam nam illo, dolorum et laudantium ut, aspernatur nobis sint veritatis.
                </p>
            </div>
        </article>

    </section>

</section>