.about-us-wrapper {
    width: 100%;
    min-height: 100vh;
}

.about-us-section {
    max-width: 1221px;
    background-color: aliceblue;
    padding: 10px 25px;
    margin: 25px auto 40px auto;
    border-radius: 25px;
    box-shadow: 3px 3px 17px 3px #837e7e;
}

.about-us-title {
    font-size: 3.1rem;
    color: white;
    -webkit-text-stroke: 3px #000;
    text-align: center;
}

.about-us-content {
    display: flex;
    align-items: center;
    margin: 15px;
}

.about-us-img-wrapper {
    flex-basis: 62%;
}

.about-us-img-wrapper img {
    width: 100%;
    border-radius: 25px;
    box-shadow: 3px 3px 17px 3px #837e7e;
}

.about-us-text-wrapper {
    flex-basis: 35%;
    padding: 35px;
    text-align: center;
}

.about-us-text {
    font-size: 1.1rem;
}

.about-us-text-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: underline;
}

.reversed {
    flex-direction: row-reverse;
}

@media all and (max-width:1200px) {
    .about-us-section {
        max-width: 95%;
    }
}

@media all and (max-width:1024px) {
    .about-us-content {
        flex-direction: column;
    }
}