.not-found-wrapper {
    width: 100%;
    min-height: 100vh;
}

.not-found {
    position: relative;
    max-width: 1221px;
    height: 600px;
    background-color: aliceblue;
    margin:25px auto 40px auto;
    border-radius: 25px;
    box-shadow: 3px 3px 17px 3px #837e7e;
}

.not-found img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.not-found-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}

.not-found-content h1,
.not-found-content p {
    color: red;
    -webkit-text-stroke: 2px #000;
}

.not-found-content h1 {
    font-size: 9.4rem;
    font-weight: 900;
    margin: 0;
}


.not-found-content p {
    font-size: 3.1rem;
}

.link {
    color: greenyellow;
    -webkit-text-stroke: 2px #000;
}

@media all and (max-width:1200px) {
    .not-found {
        max-width: 90%;
    }
}